{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <h1 class="text-center" style="padding: 35px; font-weight: 900">
            What's your problem ?
        </h1>
    </div>
    <div>
    <form class="container" id="search-form" action="/Search/show" method="post">
        <select name="symptom-1" class="form-control form-control-sm" style="margin-bottom: 20px">
            <option value="">Select Symptom #1</option>
            {% for symptom in symptoms %}
            <option value="{{ symptom.id }}">{{ symptom.name }}</option>
            {% endfor %}
        </select>
        <select name="symptom-2" class="form-control form-control-sm" style="margin-bottom: 20px">
            <option value="">Select Symptom #2</option>
            {% for symptom in symptoms %}
                <option value="{{ symptom.id }}">{{ symptom.name }}</option>
            {% endfor %}
        </select>
        <select name="symptom-3" class="form-control form-control-sm" style="margin-bottom: 20px">
            <option value="">Select Symptom #3</option>
            {% for symptom in symptoms %}
                <option value="{{ symptom.id }}">{{ symptom.name }}</option>
            {% endfor %}
        </select>
        <select name="symptom-4" class="form-control form-control-sm" style="margin-bottom: 20px">
            <option value="">Select Symptom #4</option>
            {% for symptom in symptoms %}
                <option value="{{ symptom.id }}">{{ symptom.name }}</option>
            {% endfor %}
        </select>
        <input class="btn btn-light" type="submit">
    </form>
    </div>

{% endblock %}
