{% extends "layout.html.twig" %}

{% block content %}
    {{ dump(symptoms) }}

    {{ dump(poisons) }}
    <div class="container">
        <h1 style="text-align: center; color: black; font-weight: bold; padding: 10px">Potential poisons</h1>
    </div>
    <div>
        {% for poison in poisons %}
            <div class="container-fluid">
                <div class="card mb-3" style="max-width: 80%; margin-left: auto; margin-right: auto;">
                    <div class="d-flex justify-content-center">
                        <a href="/poison/show/{{ poison.id }}">
                            <div class="card m-3 shadow p-3 mb-5 rounded poison-card">
                                <div class="card-header text-center">{{ poison.name }}</div>
                                <div class="card-body p-0 mt-3">
                                    <img src="/assets/images/poisons/{{ poison.image }}" alt="Picture of {{ poison.name }}">
                                </div>
                            </div>
                        </a>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text text-center">{{ poison.symptom|capitalize }}</p>
                                <p class="card-text">{{ poison.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}