{% extends "layout.html.twig" %}

{% block content %}

    <div class="container">
        <h1 style="text-align: center; color: white; font-weight: bold; padding: 10px">Potential poisons for {{ symptom.name|capitalize }}</h1>
    </div>

    {% for poison in poisons %}
            <div class="container-fluid">
                <a style="text-decoration: none; color: black" href="/poison/show/{{ poison.id }}">
                <div class="card mb-3" style="max-width: 80%; margin-right: 10%; margin-left: 10%;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <h5 style="text-align: center; margin-bottom: unset" class="card-title">{{ poison.name }}</h5>
                            <img src="/assets/images/{{ poison.image }}" class="card-img" alt="{{ poison.name }}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">{{ poison.symptom|capitalize }}</p>
                                <p class="card-text">{{ poison.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
    {% endfor %}
    {#
    {% for poison in poisons %}
    <div class="card" style="width: 18rem;">
        <img src="/assets/images/{{ poison.image }}" class="card-img-top" alt="{{ poison.name }}">
        <div class="card-body">
            <h5 class="card-title">{{ poison.name }}</h5>
            <p class="card-text">{{ poison.description }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    {% endfor %}

    #}
{% endblock %}