{% extends layout.html.twig %}

{%  block content %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ poisonInformations.name }}</h5>
        </div>
        <img src="src/images/poisons/{{ poisonInformations.image }}" class="card-img-top imgPoisonShow" alt="picture of {{ poisonInformations.name }}">
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Poison description</h5>
            <p class="card-text">{{  poisonInformations.description }}</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Symptoms</h5>
            <ul class="list-group list-group-flush">
                {% for poisonSymptom in poisonSymptoms %}
                    <li class="list-group-item">{{ poisonSymptom.name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% if not poisonInformations.antidote %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">There is any antidote for this poison</h5>
                <button type="button" class="btn btn-primary btn-lg">Create the antidote</button>
            </div>
        </div>
    {% else %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Antidote description</h5>
                <p class="card-text">{{ cureInformations.name}}</p>
            </div>
        </div>
    {% endif %}
{% endblock %}